*{
    margin: 0px;
    padding: 0px;
   }
   body{
    font-family: arial;
   }
   .main{
   
    margin: 2%;
    
   }
   
   .card{
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px #e55604;
        border-radius: 5px; 
        margin: 2%;
       }
   
   .image img{
    
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     
   
    
    }
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
   
   h1{
     font-size: 20px;
    }
   
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   button{
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
   button:hover{
     background-color: #e55604;
     color: white;
     transition: .5s;
     cursor: pointer;
   }
   .whole{
    text-align: center;
    color:#b2bec3;
    padding-top: 0 8px;
}

  .abc {
  display: inline;
  margin: 10px;
  padding: 10px;
  background-color: #66a0cc;
  color: white;
  font-weight: 300;
  border-radius: 5px;
}