/* nav.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    text-decoration: none;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
}

nav a:hover {
    color: orange;
}

nav li.logo {
    display: flex;
    align-items: center;
}

nav li.logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

nav .company {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

nav .spacer {
    flex-grow: 1;
}

.search-bar {
    margin-left: 100px;
    padding-top: 15px;
}

.search-bar input[type="text"] {
    background-image: url('bgimage.jpg');
    background-color: transparent;
    box-shadow: 2px 2px 3px 6px rgb(245, 56, 56);
    width: 380px;
    height: 25px;
    border-style: none;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    padding: 3px;
}

input::placeholder {
    color: white;
    padding-left: 3px;
}

/* Media Queries */
@media (max-width: 1200px) {
    nav ul {
        justify-content: space-between;
    }

    .search-bar {
        margin-left: 50px;
        width: 100%;
    }

    .search-bar input[type="text"] {
        width: 300px;
    }
}

@media (max-width: 991px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        margin-left: 0;
        width: 100%;
    }

    .search-bar input[type="text"] {
        width: 100%;
        margin-top: 10px;
    }

    nav a {
        padding: 10px 0;
    }
}

@media (max-width: 768px) {
    nav .company {
        font-size: 24px;
    }

    .search-bar input[type="text"] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        margin-left: 0;
        width: 100%;
    }

    .search-bar input[type="text"] {
        width: 100%;
        margin-top: 10px;
    }

    nav a {
        padding: 10px 0;
    }

    nav .company {
        font-size: 20px;
    }
}
